{% extends 'layout.html' %}

{% block body %}
  <form class="centred" method="POST">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" placeholder="Enter Username" value={{request.form.username}}>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" placeholder="Enter Password" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary submit">Login</button>
  </form>
{% endblock %}
