{% extends 'layout.html' %}
{% block body %}
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="card centred-answer text-white bg-secondary">
    <div class="card-header">
      Q:  {{one_qs.statement}}
    </div>
    <div class="card-body">
      <h5 class="card-text">{{one_qs.body | safe}}</h5>
      <div class="text-right">
        {% if username == one_qs.poster %}
          <a href="/editquestion/{{one_qs.id}}" class="btn btn-success" name="submit">Edit Question</a>
        {% elif auths > 0 %}
          <a href="/editanswer/{{one_qs.id}}" class="btn btn-success" name="submit">Edit Answer</a>
        {% else %}
          <a href="/addanswer/{{one_qs.id}}" class="btn btn-success" name="submit">Answer Question</a>
        {% endif %}
      </div>
    </div>
    <div class="card-footer text-center text-dark">
      <h6>Asked By {{one_qs.poster}} on {{one_qs.askDate}}</h6>
    </div>
  </div>

  {% for answer in answers %}
    {% set someid = loop.index %}
    <div class="card centred-answers back-cream-main">
      <div class="card-body">
        <h5 class="card-text">{{answer.body | safe}}</h5>
        <div class="text-center">
            <a href="{{url_for('upvote', ans_id= answer['id'], user_id = uid,q_id = one_qs.id)}}"><img id="votes" src="/static/images/upvote.png"></a>
        </div>
        {% if answer['author'] == username %}
          <div class="text-right">
              <a href="{{url_for('delete_answer', aid= answer['id'],qid = one_qs.id)}}"><button class = "btn btn-primary submit">Delete</button></a>
          </div>
        {% endif %}
      </div>
      <div class="card-footer text-muted text-center">
        <h6>Answered By {{answer.author}} on {{answer.ansDate}}</h6>
      </div>
      <div class="text-center">
        <a class="" data-toggle="collapse" href="#collapseExample-{{loop.index}}" role="" aria-expanded="false" aria-controls="collapseExample">
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/516849-200.png" alt="Show Comments" width="42" height="42" border="0">
        </a>
      </div>
      <div class="collapse" id="collapseExample-{{loop.index}}">
        <div class="card card-body comments">
          {% for comment in comments %}
            {% for dict in comment %}
              {% if dict['ansid'] == (answer.id|string) %}
                <div class="comments-body">
                  <h6>{{dict.body}}</h6>
                  <span class="small-text">By {{dict.author}} on {{dict.comDate}}</span>
                  <hr>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <form class="form-inline" method="POST">
            <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext"value="Add a Comment:">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <div class="form-group">
                {{ render_field(form1.body, class="form-control small-input" ) }}
              </div>
              <p><input class = "btn btn-success submit" type="submit" value="Comment"></p>
              <input type="text" style="display:none;" name="idd" value="{{answer.id}}">
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
