{% extends 'layout.html' %}

{% block body %}
  <div class="card text-center centred-card larger">
    <div class="card-header">
      {{name}}'s Profile
    </div>
    <div class="card-body">
      <h5 class="card-title">Username: {{session.username}}</h5>
      <p class="card-text">E-Mail: {{email}}</p>
      <p class="card-text">No. of Questions Asked: </p>
      <p class="card-text">No. of Questions Answered: </p>
      <hr>
      <a href="#" class="btn btn-primary">My Questions</a>
    </div>
    <div class="card-footer text-muted">
      Joined {{date}}
    </div>
  </div>
{% endblock %}
