{% extends 'layout.html' %}
{% block body %}
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="card centred-answer text-white bg-secondary">
    <div class="card-header">
      Q:  {{one_qs.statement}}
    </div>
    <div class="card-body">
      <h5 class="card-text">{{one_qs.body | safe}}</h5>
      <div class="text-right">
        <a href="/addanswer/{{one_qs.id}}" class="btn btn-success" name="submit">Answer Question</a>
      </div>
    </div>
    <div class="card-footer text-center text-dark">
      <h6>Asked By {{one_qs.poster}} on {{one_qs.askDate}}</h6>
    </div>
  </div>

  {% for answer in answers %}
    <div class="card centred-answers bg-light">
      <div class="card-body">
        <h5 class="card-text">{{answer.body | safe}}</h5>
      </div>
      <div class="card-footer text-muted text-center">
        <h6>Answered By {{answer.author}} on {{answer.ansDate}}</h6>
      </div>
      <div class="text-center">
        <a class="" data-toggle="collapse" href="#collapseExample-{{loop.index}}" role="" aria-expanded="false" aria-controls="collapseExample">
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/516849-200.png" alt="Show Comments" width="42" height="42" border="0">
        </a>
      </div>
      <div class="collapse" id="collapseExample-{{loop.index}}">
        <div class="card card-body">
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
          <h6><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></h6>
          <form class="form-inline" method="POST">
            <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext small-txt" id="staticEmail2" value="Add a Comment:">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Comment</label>
              <!--input type="text" class="small-txt fill-comment" id="inputPassword2" placeholder="Type the comment here" value={{request.form.comments}}-->
              {{ render_field(form.body, class_="form-control") }}
            </div>
              <p><input type="submit" class="btn btn-success" value="Comment"></p>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
